@font-face {
  font-family: "Master_of_Break";
  src: url("../fonts/master_of_break.otf");
  src: url("../fonts/master_of_break.ttf"); }
body {
  padding: 20px; }

section {
  display: flex; }

h1, h2 {
  font-family: "Master_of_Break"; }

p {
  font-family: "Fjalla One";
  font-size: 1.2em; }

h4 {
  font-family: "Fjalla One"; }

#wedding {
  padding-top: 25px; }

#header-photo {
  height: 300px;
  width: 600px;
  border-radius: 10px; }

#hashtag {
  font-weight: 700; }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-webkit: opacity 400ms ease-in;
  -moz-webkit: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 10px 13px 20px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #888);
  background: -webkit-linear-gradient(#fff, #888);
  background: -o-linear-gradient(#fff, #888); }

.close {
  background: #606061;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-moz-box-shadow: 1px 1px 3px #000;
  -moz-moz-box-shadow: 1px 1px 3px #000;
  moz-box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }
