// Importing fonts
@font-face
	font-family: "Master_of_Break"
	src: url('../fonts/master_of_break.otf')
	src: url('../fonts/master_of_break.ttf')

// General styles & font applications
body
	padding: 20px
	line-height: 90%

hr
	margin: 20px 0 20px 0

section 
	display: flex

h1, h2 
	font-family: "Master_of_Break"

p
	font-family: "Fjalla One"
	font-size: 1.2em

h4
	font-family: "Fjalla One"

#wedding
	padding-top: 25px

.p-small
	line-height: 90%


.p-large
	line-height: 200%

section
	height: 300px

// Header
#header-photo
	height: 300px
	width: 600px
	border-radius: 10px

// Hashtag and social media
#hashtag
	font-weight: 700
	text-align: center

.social-media
	text-align: center

ul
	overflow: auto

a i 
	background: #000// #205d7a
	color: #fff
	width: 36px
	height: 36px
	border-radius: 100%
	text-align: center
	padding: 5px 5px 2px 5px

#ceremony
	display: inline-block
	line-height: 15px
	margin-top: 12%

// To hide Wufoo form when not in ColorBox
#wufoo-z13nqwk707h2uju
	display: none


// What are you doing?! Don't put Media Queries in here, they go in skeleton.css! 